table {
width: 100%;
}

.hunter img {
    height: 200px;
    width: 500px;
}
.brook img {
    height: 200px;
    width: 500px;
}
.queens img {
    border:1px solid #021a40;    height: 230px;
    width: 500px;
    background-color: #ff002233
}
.john img {
    height: 230px;
    width: 500px;
    border:1px solid rgba(21, 14, 110, 0.788);
}